<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <ul ngbNav class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink class="nav-item nav-link" routerLink="/features">Home</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink class="nav-item nav-link" routerLink="/features/admin" *ngIf="isAdmin">Admin</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink class="nav-item nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
